QComboBox{font-family:Consolas;}
QPushButton{font-family:Consolas;}
QTextEdit{font-family:Consolas;}
QTabWidget{font-family:Consolas;}
QGroupBox{font-family:Consolas;}
QProgressBar{font-family:Consolas;}